Library
.idea
obj
/hexmap-democlient.sln
/Assets/Plugins/Editor/JetBrains.meta
/Assets/Plugins/Editor/JetBrains/JetBrains.Rider.Unity.Editor.Plugin.Repacked.dll
/Assets/Plugins/Editor/JetBrains/JetBrains.Rider.Unity.Editor.Plugin.Repacked.dll.meta
/Assembly-CSharp.csproj
/Logs/Packages-Update.log
objects
hooks
info
Logs
Temp
